<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277362543199-4ebt9634vjcofu7ruq4lou7r7qglon9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277362543199-4ebt9634vjcofu7ruq4lou7r7qglon9o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277362543199-61raojr9gmc4c4vl2ho16recmgdt0f3l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEYKhvXKw2mxEtbyCiSf8dCgrdOIXqAIE</string>
	<key>GCM_SENDER_ID</key>
	<string>277362543199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastsailtech.sainte</string>
	<key>PROJECT_ID</key>
	<string>trs-app-13c75</string>
	<key>STORAGE_BUCKET</key>
	<string>trs-app-13c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277362543199:ios:570e8c8dbd4ea949a1e9ea</string>
</dict>
</plist>